<div class="rentals">
  <div class="search-section">
    <label>
      <span>Where would you like to stay?</span>
      <Input @value={{this.query}} class="light"/>
    </label>
    <div class="selected-location">
      <p>Select Location</p>
      <CustomDropdown @rentals={{@rentals}} @useDropDown={{this.useDropDown}}  @selected={{this.selectedValue}}
                      @isWasUsedOutSide={{this.isDropDownWasUsed}}/>
    </div>
  </div>
  <ul class="results">
    {{#if this.dropdownState.filteredRentals }}
      {{#each this.dropdownState.filteredRentals as |rental|}}
        <li>
          <Rental @rental={{rental}} />
        </li>
      {{/each}}
    {{else}}
      <Rentals::Filter @useDropDown={{this.useDropDown}} @rentals={{@rentals}} @query={{this.query}} as |results|>
        {{#each results as |rental|}}
          <li>
            <Rental @rental={{rental}} />
          </li>
        {{/each}}
      </Rentals::Filter>
    {{/if}}
  </ul>
</div>