<MapModal @rentals={{@rentals}}/>
<div class="rentals">
  <div class="search-section">
    <Rentals::Filter @rentals={{@rentals}}/>
    <div class="selected-location">
      <p>Select Location</p>
      <CustomDropdown @rentals={{@rentals}} />
    </div>
  </div>
  <ul class="results">
    {{#if this.dropdownState.filteredRentals }}
      {{#each this.dropdownState.filteredRentals as |rental|}}
        <li>
          <Rental @rental={{rental}} />
        </li>
      {{/each}}
    {{else}}
      {{#if this.dropdownState.filteredByInput }}
        {{#each this.dropdownState.filteredByInput as |rental|}}
          <li>
            <Rental @rental={{rental}} />
          </li>
        {{/each}}
      {{else}}
        {{#unless this.dropdownState.searchInputValue.length }}
          {{#each @rentals as |rental|}}
            <li>
              <Rental @rental={{rental}} />
            </li>
          {{/each}}
        {{/unless}}
      {{/if}}
    {{/if}}
  </ul>
</div>